body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-group label {
    font-weight: bold;
}

.list-group-item {
    font-size: 1rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.uppercase-bold {
    font-weight: bold;
    text-transform: uppercase;
}